@media (max-width: 1200px) {
  .registration_card_wrapper .registration_banner .registration_card ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .registration_card_wrapper .registration_banner .registration_card ul li {
    width: 100%;
    padding: 0 !important;
    margin: 10px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .saved_Address h6 {
    line-height: 30px;
  }
  .order_checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .order_checkbox .form-check-inline {
    margin-bottom: 15px;
  }
  .store_card_wrapper .order_details_wrapper .order_deatils_info ol {
    padding: 2rem 0px 10rem;
  }
  .store_card_wrapper .orders_card,
  .store_card_wrapper .orders_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .store_card_wrapper .orders_content {
    text-align: center;
    margin-bottom: 10px;
  }
  .store_card_wrapper .orders_content img {
    margin-bottom: 10px;
  }
  .store_card_wrapper .orders_cta {
    margin-bottom: 10px;
  }
  .store_card_wrapper .orders_cta a {
    padding: 0 30px;
  }
  .location_map,
  .btn-full-width {
    margin-left: 0;
  }
  .location_details_wrapper .store_image {
    height: 300px;
  }
  .location_details_wrapper .location_heading {
    font-size: 2rem;
  }
  .checkout_section .border_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .checkout_section .border_card .saved_Address h6 {
    line-height: 28px;
  }
  .checkout_section .order_details_wrapper .order_deatils_info ol li span {
    font-size: 12px;
  }
  .edit_order .border_card .edit_order_sub_wrapper .text-paragraph {
    margin-bottom: 10px !important;
  }
  .edit_order .border_card .btn_add_cart {
    margin-left: 11px;
  }
  .contact_card {
    text-align: center;
    padding: 30px;
  }
  .sidebar_nav,
  .order_details_wrapper {
    margin-bottom: 2rem;
  }
  .profile_wrapper {
    padding: 15px;
  }
  .profile_wrapper .image_wrapper img {
    margin-bottom: 15px;
  }
  .profile_wrapper .profile_info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile_wrapper .profile_info .profile_title {
    margin-bottom: 10px;
  }
  .profile_wrapper .profile_info .profile_text {
    word-break: break-all;
    margin-bottom: 10px;
  }
  .profile_cta_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .profile_cta_card a {
    min-width: 150px;
    margin: 10px 0;
    text-align: center;
  }
  .top_header .header_content .title {
    font-size: 52px;
  }
  .registration_card_wrapper .registration_banner .registration_column {
    top: unset;
  }
  .registration_card_wrapper .registration_banner .reg_heading {
    font-size: 1.4rem;
  }
  .registration_card_wrapper .registration_banner .registration_images .img-1,
  .registration_card_wrapper .registration_banner .registration_images .img-2 {
    display: none;
  }
  .registration_card_wrapper .registration_banner .registration_images .img-3 {
    width: 18%;
  }
  .border-center h3 {
    font-size: 30px;
  }
  .navbar_style .btn-dark {
    margin: 0.8rem;
  }
  .navbar_style .bottom_navbar {
    margin-top: 0.6rem;
  }
  .navbar_style .top_navbar {
    padding-bottom: 1.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar_style .top_navbar .navbar-brand {
    display: none;
  }
  .navbar_style .top_navbar ul {
    width: 100%;
  }
  .navbar_style .top_navbar a:last-child {
    text-align: center;
  }
  .navbar_style .bottom_navbar {
    text-align: center;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .popular_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .popular_grid .popular_image_1,
  .popular_grid .popular_image_2,
  .popular_grid .popular_image_3,
  .popular_grid .popular_image_4 {
    grid-column: unset;
    grid-row: unset;
    min-height: 300px;
  }
  .popular_grid .collection_style_1 .collection_card,
  .popular_grid .collection_style_2 .collection_card {
    top: 30px;
    left: 20px;
  }
  .popular_grid .collection_style_1 .collection_card h3,
  .popular_grid .collection_style_2 .collection_card h3 {
    -ms-grid-columns: 70%;
        grid-template-columns: 70%;
    font-size: 25px;
  }
  .occasions_grid {
    min-height: 400px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .occasions_grid .occasion_content_2 .occasion_content_card {
    bottom: 50px;
    left: 30px;
  }
  .occasions_grid .occasion_content_2 .occasion_content_card p {
    font-size: 15px;
  }
  .occasions_grid .occasion_content_2 .occasion_content_card h3 {
    font-size: 1.6rem;
  }
  .occasions_grid .occasions_image {
    grid-column: unset;
    grid-row: unset;
    min-height: 300px;
  }
  .footer_links {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .top_image img {
    margin-bottom: 10px;
    margin-top: -45px;
  }
  .responsive_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product_collection .category_wrapper .product_items {
    width: 100%;
  }
  .top_header {
    min-height: calc(450px - 59px);
  }
  .sub_heading {
    margin-bottom: 50px !important;
  }
  .slick_arrow .slick-prev,
  .gift_card_section .slick_arrow .slick-prev {
    left: 35% !important;
  }
  .slick_arrow .slick-next,
  .gift_card_section .slick_arrow .slick-next {
    right: 35% !important;
  }
  .occasion_frame_2,
  .occasion_frame_1 {
    width: 50%;
  }
  .features_card .features_image img {
    width: 100%;
  }
  .footer-bottom-text {
    text-align: center;
  }
  .footer_social_links,
  .payment_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright-text {
    margin: 15px 0 20px;
  }
  .cart_items_section .orders_card,
  .cart_items_section .orders_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart_items_section .popular_categories {
    margin-bottom: 6rem;
  }
  .cart_items_section .orders_content img {
    margin-bottom: 10px;
  }
  .cart_items_section .quantity_input {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart_items_section .order_price_info {
    margin-left: 0 !important;
    margin-top: 15px;
  }
  .cart_items_section .category_card {
    margin: 0 10px 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .profile_cta_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .profile_cta_card a {
    min-width: 150px;
    margin: 10px 0;
    text-align: center;
  }
  .profile_wrapper .profile_info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product_collection .category_wrapper .product_items {
    width: calc(100% / 3);
  }
  .category_card {
    margin: 0 10px 60px;
  }
  .edit_order .border_card .edit_order_sub_wrapper {
    max-width: 65%;
  }
  .store_card_wrapper .order_details_wrapper .order_deatils_info ol {
    padding: 2rem 0px 10rem;
  }
  .store_card_wrapper .orders_card,
  .store_card_wrapper .orders_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .store_card_wrapper .orders_content {
    text-align: center;
    margin-bottom: 10px;
  }
  .store_card_wrapper .orders_content img {
    margin-bottom: 10px;
  }
  .store_card_wrapper .orders_cta {
    margin-bottom: 10px;
  }
  .store_card_wrapper .orders_cta a {
    padding: 0 30px;
  }
  .location_map,
  .btn-full-width {
    margin-left: 0;
  }
  .footer-bottom-text {
    text-align: center;
  }
  .footer_social_links,
  .payment_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright-text {
    margin: 15px 0 20px;
  }
  .contact_card {
    margin-bottom: 30px;
  }
  .contact_card a {
    font-size: 28px;
  }
  .responsive_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reg_heading {
    font-size: 2.6rem !important;
  }
  .navbar_style .btn-dark {
    margin: 0.8rem;
  }
  .navbar_style .bottom_navbar {
    margin-top: 0.6rem;
  }
  .navbar_style .top_navbar {
    padding-bottom: 1.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar_style .top_navbar .navbar-brand {
    display: none;
  }
  .navbar_style .top_navbar ul {
    width: 100%;
  }
  .navbar_style .bottom_navbar {
    text-align: center;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .features_card .features_image img {
    width: 100%;
  }
  .popular_grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .popular_grid .popular_image_1,
  .popular_grid .popular_image_2,
  .popular_grid .popular_image_3,
  .popular_grid .popular_image_4 {
    grid-column: unset;
    grid-row: unset;
    min-height: 300px;
  }
  .popular_grid .collection_style_1 .collection_card,
  .popular_grid .collection_style_2 .collection_card,
  .popular_grid .occasion_content_card {
    top: 30px;
    left: 20px;
  }
  .popular_grid .collection_style_1 .collection_card p,
  .popular_grid .collection_style_2 .collection_card p,
  .popular_grid .occasion_content_card p {
    font-size: 15px !important;
  }
  .popular_grid .collection_style_1 .collection_card .btn-send_now,
  .popular_grid .collection_style_2 .collection_card .btn-send_now,
  .popular_grid .occasion_content_card .btn-send_now {
    margin-top: 30px;
  }
  .popular_grid .collection_style_1 .collection_card h3,
  .popular_grid .collection_style_2 .collection_card h3,
  .popular_grid .occasion_content_card h3 {
    -ms-grid-columns: 70%;
        grid-template-columns: 70%;
    font-size: 25px !important;
  }
  .slick_arrow .slick-prev {
    left: 43.5%;
  }
  .slick_arrow .slick-next {
    right: 43.5%;
  }
  .gift_card_section .slick_arrow .slick-prev {
    left: 40% !important;
  }
  .gift_card_section .slick_arrow .slick-next {
    right: 40% !important;
  }
  .top_image img {
    margin-top: -45px;
  }
  .occasions_grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .occasions_grid .occasions_image {
    grid-column: unset;
    grid-row: unset;
    min-height: 300px;
  }
  .occasions_grid .occasion_content_card {
    top: 50px;
    bottom: unset;
  }
  .occasions_grid .occasion_content_card h3 {
    font-size: 1.6rem !important;
  }
  .occasions_grid .occasion_content_card p {
    font-size: 15px !important;
  }
  .occasions_grid .occasion_content_card .btn-send_now {
    margin-top: 50px !important;
  }
  .cart_items_section .quantity_input {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart_items_section .orders_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart_items_section .order_price_info {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .cart_items_section .slick_arrow .slick-next {
    right: 40%;
  }
  .cart_items_section .slick_arrow .slick-prev {
    left: 40%;
  }
  .order_checkbox .form-check-inline {
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .navbar_style .navbar_search {
    width: 100%;
  }
  .navbar_style ul li {
    padding: 0 6px;
  }
  .navbar_style ul li a {
    font-size: 14px !important;
  }
  .navbar_style .top_navbar ul li a.btn-black {
    line-height: 26px;
  }
  .product_collection .category_wrapper .product_items {
    width: calc(100% / 4);
  }
  .category_card {
    margin: 0 10px 60px;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .gift_card_section .slick_arrow .slick-prev {
    left: 40% !important;
  }
  .gift_card_section .slick_arrow .slick-next {
    right: 40% !important;
  }
  .order_checkbox .form-check-inline {
    margin-bottom: 15px;
  }
  .slick_arrow .slick-prev {
    left: 44% !important;
  }
  .slick_arrow .slick-next {
    right: 44% !important;
  }
  .collection_style_2 .collection_card h3 {
    font-size: 20px;
  }
  .collection_style_1 .collection_card h3 {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .connected_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .connected_list li {
    width: calc(94% / 2);
    margin: 7px 2% 7px 0;
  }
  .product_collection .category_wrapper .product_items {
    width: calc(100% / 2);
  }
  .category_card {
    margin: 0 10px 60px;
  }
}

@media (max-width: 575px) {
  .registration_card_wrapper .registration_banner .reg_heading {
    font-size: 2.4rem;
  }
  .product_collection .category_wrapper .product_items {
    width: 50%;
  }
  .category_card {
    margin: 0 10px 70px;
  }
}

@media (max-width: 480px) {
  .product_collection .category_wrapper .product_items {
    width: 100%;
  }
  .category_card {
    margin: 0 10px 70px;
  }
  .connected_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .connected_list li {
    width: auto;
    margin: 7px 0px;
  }
  .btn-view-all {
    min-width: 115px;
  }
}
/*# sourceMappingURL=responsive.css.map */