@media (max-width:1200px) {
    .registration_card_wrapper .registration_banner .registration_card ul {
        flex-wrap: wrap;
        li {
            width: 100%;
            padding: 0!important;
            margin: 10px 0;
        }
    }
}

@media (min-width:320px) and (max-width:767px) {
    .saved_Address {
        h6 {
            line-height: 30px;
        }
    }
    .order_checkbox {
        margin-top: 20px;
        margin-bottom: 20px;
        .form-check-inline {
            margin-bottom: 15px;
        }
    }
    .store_card_wrapper {
        .order_details_wrapper .order_deatils_info ol {
            padding: 2rem 0px 10rem;
        }
        .orders_card,
        .orders_content {
            flex-direction: column;
        }
        .orders_content {
            text-align: center;
            margin-bottom: 10px;
            img {
                margin-bottom: 10px;
            }
        }
        .orders_cta {
            margin-bottom: 10px;
            a {
                padding: 0 30px;
            }
        }
    }
    .location_map,
    .btn-full-width {
        margin-left: 0;
    }
    .location_details_wrapper {
        .store_image {
            height: 300px;
        }
        .location_heading {
            font-size: 2rem;
        }
    }
    .checkout_section {
        .border_card {
            flex-direction: column;
            .saved_Address {
                h6 {
                    line-height: 28px;
                }
            }
        }
        .order_details_wrapper {
            .order_deatils_info {
                ol {
                    li {
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .edit_order {
        .border_card {
            .edit_order_sub_wrapper {
                .text-paragraph {
                    margin-bottom: 10px!important;
                }
            }
            .btn_add_cart {
                margin-left: 11px;
            }
        }
    }
    .contact_card {
        text-align: center;
        padding: 30px;
    }
    .sidebar_nav,
    .order_details_wrapper {
        margin-bottom: 2rem;
    }
    .profile_wrapper {
        padding: 15px;
        .image_wrapper {
            img {
                margin-bottom: 15px;
            }
        }
        .profile_info {
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;
            .profile_title {
                margin-bottom: 10px;
            }
            .profile_text {
                word-break: break-all;
                margin-bottom: 10px;
            }
        }
    }
    .profile_cta_card {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        a {
            min-width: 150px;
            margin: 10px 0;
            text-align: center;
        }
    }
    .top_header .header_content .title {
        font-size: 52px;
    }
    .registration_card_wrapper .registration_banner {
        .registration_column {
            top: unset;
        }
        .reg_heading {
            font-size: 1.4rem;
        }
        .registration_images {
            .img-1,
            .img-2 {
                display: none;
            }
            .img-3 {
                width: 18%;
            }
        }
    }
    .border-center h3 {
        font-size: 30px;
    }
    .navbar_style {
        .btn-dark {
            margin: 0.8rem;
        }
        .bottom_navbar {
            margin-top: 0.6rem;
        }
        .top_navbar {
            padding-bottom: 1.2rem;
            flex-direction: column;
            .navbar-brand {
                display: none;
            }
            ul {
                width: 100%;
            }
            a:last-child {
                text-align: center;
            }
        }
        .bottom_navbar {
            text-align: center;
        }
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .popular_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .popular_image_1,
        .popular_image_2,
        .popular_image_3,
        .popular_image_4 {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
        }
        .collection_style_1 .collection_card,
        .collection_style_2 .collection_card {
            top: 30px;
            left: 20px;
            h3 {
                grid-template-columns: 70%;
                font-size: 25px;
            }
        }
    }
    .occasions_grid {
        min-height: 400px;
        grid-template-columns: 1fr;
        .occasion_content_2 .occasion_content_card {
            bottom: 50px;
            left: 30px;
            p {
                font-size: 15px;
            }
            h3 {
                font-size: 1.6rem;
            }
        }
        .occasions_image {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
        }
    }
    .footer_links {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .top_image img {
        margin-bottom: 10px;
        margin-top: -45px;
    }
    .responsive_logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product_collection .category_wrapper .product_items {
        width: 100%;
    }
    .top_header {
        min-height: calc(450px - 59px);
    }
    .sub_heading {
        margin-bottom: 50px!important;
    }
    .slick_arrow,
    .gift_card_section .slick_arrow {
        .slick-prev {
            left: 35%!important;
        }
        .slick-next {
            right: 35%!important;
        }
    }
    .occasion_frame_2,
    .occasion_frame_1 {
        width: 50%;
    }
    .features_card .features_image img {
        width: 100%;
    }
    .footer-bottom-text {
        text-align: center;
    }
    .footer_social_links,
    .payment_list {
        justify-content: center;
    }
    .copyright-text {
        margin: 15px 0 20px;
    }
    .cart_items_section {
        .orders_card,
        .orders_content {
            flex-direction: column;
        }
        .popular_categories {
            margin-bottom: 6rem;
        }
        .orders_content {
            img {
                margin-bottom: 10px;
            }
        }
        .quantity_input {
            justify-content: space-between;
        }
        .order_price_info {
            margin-left: 0!important;
            margin-top: 15px;
        }
        .category_card {
            margin: 0 10px 60px;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .profile_cta_card {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        a {
            min-width: 150px;
            margin: 10px 0;
            text-align: center;
        }
    }
    .profile_wrapper .profile_info {
        justify-content: space-between;
    }
    .product_collection .category_wrapper .product_items {
        width: calc(100% / 3);
    }
    .category_card {
        margin: 0 10px 60px;
    }
    .edit_order {
        .border_card {
            .edit_order_sub_wrapper {
                max-width: 65%;
            }
        }
    }
    .store_card_wrapper {
        .order_details_wrapper .order_deatils_info ol {
            padding: 2rem 0px 10rem;
        }
        .orders_card,
        .orders_content {
            flex-direction: column;
        }
        .orders_content {
            text-align: center;
            margin-bottom: 10px;
            img {
                margin-bottom: 10px;
            }
        }
        .orders_cta {
            margin-bottom: 10px;
            a {
                padding: 0 30px;
            }
        }
    }
    .location_map,
    .btn-full-width {
        margin-left: 0;
    }
    .footer-bottom-text {
        text-align: center;
    }
    .footer_social_links,
    .payment_list {
        justify-content: center;
    }
    .copyright-text {
        margin: 15px 0 20px;
    }
    .contact_card {
        margin-bottom: 30px;
        a {
            font-size: 28px;
        }
    }
    .responsive_logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .reg_heading {
        font-size: 2.6rem!important;
    }
    .navbar_style {
        .btn-dark {
            margin: 0.8rem;
        }
        .bottom_navbar {
            margin-top: 0.6rem;
        }
        .top_navbar {
            padding-bottom: 1.2rem;
            flex-direction: column;
            .navbar-brand {
                display: none;
            }
            ul {
                width: 100%;
            }
        }
        .bottom_navbar {
            text-align: center;
        }
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .features_card .features_image img {
        width: 100%;
    }
    .popular_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .popular_image_1,
        .popular_image_2,
        .popular_image_3,
        .popular_image_4 {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
        }
        .collection_style_1 .collection_card,
        .collection_style_2 .collection_card,
        .occasion_content_card {
            p {
                font-size: 15px!important;
            }
            .btn-send_now {
                margin-top: 30px;
            }
            top: 30px;
            left: 20px;
            h3 {
                grid-template-columns: 70%;
                font-size: 25px!important;
            }
        }
    }
    .slick_arrow {
        .slick-prev {
            left: 43.5%;
        }
        .slick-next {
            right: 43.5%;
        }
    }
    .gift_card_section {
        .slick_arrow {
            .slick-prev {
                left: 40%!important;
            }
            .slick-next {
                right: 40%!important;
            }
        }
    }
    .top_image img {
        margin-top: -45px;
    }
    .occasions_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .occasions_image {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
        }
        .occasion_content_card {
            top: 50px;
            bottom: unset;
            h3 {
                font-size: 1.6rem!important;
            }
            p {
                font-size: 15px!important;
            }
            .btn-send_now {
                margin-top: 50px!important;
            }
        }
    }
    .cart_items_section {
        .quantity_input {
            justify-content: space-between;
        }
        .orders_card {
            flex-direction: column;
        }
        .order_price_info {
            margin-left: 0!important;
            margin-top: 10px;
        }
        .slick_arrow {
            .slick-next {
                right: 40%;
            }
            .slick-prev {
                left: 40%;
            }
        }
    }
    .order_checkbox .form-check-inline {
        margin-bottom: 15px;
    }
}

@media (min-width:992px) and (max-width:1100px) {
    .navbar_style {
        .navbar_search {
            width: 100%;
        }
        ul {
            li {
                padding: 0 6px;
                a {
                    font-size: 14px!important;
                }
            }
        }
        .top_navbar {
            ul li a.btn-black {
                line-height: 26px;
            }
        }
    }
    .product_collection .category_wrapper .product_items {
        width: calc(100% / 4);
    }
    .category_card {
        margin: 0 10px 60px;
    }
}

@media (min-width:992px) and (max-width:1300px) {
    .gift_card_section {
        .slick_arrow {
            .slick-prev {
                left: 40%!important;
            }
            .slick-next {
                right: 40%!important;
            }
        }
    }
    .order_checkbox .form-check-inline {
        margin-bottom: 15px;
    }
    .slick_arrow {
        .slick-prev {
            left: 44%!important;
        }
        .slick-next {
            right: 44%!important;
        }
    }
    .collection_style_2 .collection_card h3 {
        font-size: 20px;
    }
    .collection_style_1 .collection_card h3 {
        font-size: 32px;
    }
}

@media (max-width:767px) {
    .connected_list {
        flex-direction: row;
        li {
            width: calc(94% / 2);
            margin: 7px 2% 7px 0;
        }
    }
    .product_collection .category_wrapper .product_items {
        width: calc(100% / 2);
    }
    .category_card {
        margin: 0 10px 60px;
    }
}

@media (max-width:575px) {
    .registration_card_wrapper .registration_banner .reg_heading {
        font-size: 2.4rem;
    }
    .product_collection .category_wrapper .product_items {
        width: 50%;
    }
    .category_card {
        margin: 0 10px 70px;
    }
}

@media (max-width:480px) {
    .product_collection .category_wrapper .product_items {
        width: 100%;
    }
    .category_card {
        margin: 0 10px 70px;
    }
    .connected_list {
        flex-direction: column;
        li {
            width: auto;
            margin: 7px 0px;
        }
    }
    .btn-view-all {
        min-width: 115px;
    }
}