@media (max-width:1200px) {
    .registration_card_wrapper .registration_banner .registration_card ul {
        flex-wrap: wrap;
        li {
            width: 100%;
            padding: 0!important;
            margin: 10px 0;
        }
    }
}

@media (max-width:767px) {
    .connected_list {
        flex-direction: row;
        li {
            width: calc(94% / 2);
            margin: 7px 2% 7px 0;
        }
    }
}

@media (max-width:480px) {
    .connected_list {
        flex-direction: column;
        li {
            width: auto;
            margin: 7px 0px;
        }
    }
}

@media (min-width:320px) and (max-width:767px) {
    .top_header .header_content .title {
        font-size: 52px;
    }
    .registration_card_wrapper .registration_banner {
        .registration_column {
            top: unset;
        }
        .reg_heading {
            font-size: 1.4rem;
        }
        .registration_images {
            .img-1,
            .img-2 {
                display: none;
            }
            .img-3 {
                width: 18%;
            }
        }
    }
    .border-center h3 {
        font-size: 30px;
    }
    .navbar_style {
        .btn-dark {
            margin: 0.8rem;
        }
        .bottom_navbar {
            margin-top: 0.6rem;
        }
        .top_navbar {
            padding-bottom: 1.2rem;
            flex-direction: column;
            .navbar-brand {
                display: none;
            }
            ul {
                width: 100%;
            }
        }
        .bottom_navbar {
            text-align: center;
        }
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .popular_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .popular_image_1,
        .popular_image_2,
        .popular_image_3,
        .popular_image_4 {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
        }
        .collection_style_1 .collection_card,
        .collection_style_2 .collection_card {
            top: 30px;
            left: 20px;
            h3 {
                grid-template-columns: 70%;
                font-size: 25px;
            }
        }
    }
    .occasions_grid {
        min-height: 400px;
        grid-template-columns: 1fr;
        .occasion_content_2 .occasion_content_card {
            bottom: 50px;
            left: 30px;
            p {
                font-size: 15px;
            }
            h3 {
                font-size: 1.6rem;
            }
        }
        .occasions_image {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
        }
    }
    .footer_links {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .top_image img {
        margin-bottom: 10px;
        margin-top: -45px;
    }
    .responsive_logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product_collection .category_wrapper .product_items {
        width: 100%;
    }
    .top_header {
        min-height: calc(450px - 59px);
    }
    .sub_heading {
        margin-bottom: 50px!important;
        h3 {
            margin-bottom: 20px!important;
        }
    }
    .slick_arrow {
        .slick-prev {
            left: 36.5%;
        }
        .slick-next {
            right: 36.5%;
        }
    }
    .occasion_frame_2,
    .occasion_frame_1 {
        width: 50%;
    }
    .features_card .features_image img {
        width: 100%;
    }
    .footer-bottom-text {
        text-align: center;
    }
    .footer_social_links,
    .payment_list {
        justify-content: center;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .contact_card {
        margin-bottom: 30px;
        a {
            font-size: 28px;
        }
    }
    .responsive_logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .reg_heading {
        font-size: 2.6rem!important;
    }
    .navbar_style {
        .btn-dark {
            margin: 0.8rem;
        }
        .bottom_navbar {
            margin-top: 0.6rem;
        }
        .top_navbar {
            padding-bottom: 1.2rem;
            flex-direction: column;
            .navbar-brand {
                display: none;
            }
            ul {
                width: 100%;
            }
        }
        .bottom_navbar {
            text-align: center;
        }
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .features_card .features_image img {
        width: 100%;
    }
    .popular_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .popular_image_1,
        .popular_image_2,
        .popular_image_3,
        .popular_image_4 {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
        }
        .collection_style_1 .collection_card,
        .collection_style_2 .collection_card,
        .occasion_content_card {
            p {
                font-size: 15px!important;
            }
            .btn-send_now {
                margin-top: 30px;
            }
            top: 30px;
            left: 20px;
            h3 {
                grid-template-columns: 70%;
                font-size: 25px!important;
            }
        }
    }
    .slick_arrow {
        .slick-prev {
            left: 43.5%;
        }
        .slick-next {
            right: 43.5%;
        }
    }
    .top_image img {
        margin-top: -45px;
    }
    .occasions_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .occasions_image {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
        }
        .occasion_content_card {
            top: 50px;
            bottom: unset;
            h3 {
                font-size: 1.6rem!important;
            }
            p {
                font-size: 15px!important;
            }
            .btn-send_now {
                margin-top: 50px!important;
            }
        }
    }
}