$bgcolor:#f8f2d752;
$textWhite: #fff;
$login_social_btn_bg:#cccccc33;
$textblack:#000;
$dark: #292121;
$shadowColor: #8782821c;
$footericon:#1d181840;
$yellow:#FADE4D;
$yellow_1:#FFEF98;
$yellow_2:#FAE77D;
$textgray_1:#F9D7D9;
$textgray_2:#F7CED0;
$textgray_3:#DECFC8;
$textgray_4:#E7E0DA;
$dark_gray:#1D1818;
$dark_gray_1:#564E4E;
$paragraph_color:#787878;
$footer_bg:#e7e0da80;
$gift_card_bg: #1d1818cc;
$placeholdertext:#95A0AF;
$dark_skin_2: #DED0C9;
$logocolor_1:#E7E1DA;